body {
    width: 20rem;
    font: open-sans;
}
.sliders {
    width: 16rem;
    height: 4rem;
    padding: 1rem;
    background: hsl(0, 0%, 99%);
    border-radius: 0.5rem;
    align-items: center;
    box-shadow: 0px 5px 20px #7E6D5766;
}
.sliders > input[type="range"] {
    width: 14rem;
    height: 2px;
    background: black;
    border: none;
    outline: none;
}
.sliders > input[type="range"]:hover {
    opacity: 1;
    background: black;
}
.sliders > input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 30px;
    height:30px;
    background: black;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.sliders p {
    font-size: 1rem;
    font-weight: 200;
    color: black;
}
.sliders--hours {
    margin-top: 1rem;
}
.sliders--action {
    margin-top: 1rem;
}
.sliders {
    text-align: center;
}
.settings {
    text-align: left;
}
.slider--headers {
    color: #654597;
}
.image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.refresh__button--button {
    margin: auto;
    display: block;
    margin-top: 1rem;
    width: 10rem;
    border-radius: 1rem;
}
.stop__refresh--button {
    margin: auto;
    display: block;
    margin-top: 1rem;
    width: 10rem;
    border-radius: 1rem;
}